
.main-container {
  flex-direction: column;
  
  
}
.content {
  background-color: white;
  min-height: 0vh;
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: center;
  
  
}

#nav-style {
  background: rgb(255,44,0);
  background: radial-gradient(circle, rgba(255,44,0,0.8561799719887955) 0%, rgba(1,7,97,0.9066001400560224) 100%);
}
.link{
  font-family: "cursive";
  font-size: 24px;
  padding:2px;
}

#nav-style li{
  color: white;
} 

.form-content{
  margin: 0px;
  padding: 0;
}

.buttons{
  margin: 20px;
  padding: 20px;
}



